{
	"singleAttributePerLine": true,
	"bracketSameLine": true,
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"singleQuote": true,
	"printWidth": 400,
	"useTabs": true,
	"tabWidth": 4,
	"semi": true,
	"endOfLine": "lf",
	"trailingComma": "all",
	"proseWrap": "preserve",
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "css",
	"embeddedLanguageFormatting": "auto",
	"overrides": [
		{ "files": "*.json", "options": { "printWidth": 200 } },
		{ "files": "*.md", "options": { "proseWrap": "always" } }
	]
}
