audit=false
progress=true
cache=./.cache
save-exact=true
strict-ssl=true
fetch-retries=2
engine-strict=true
lockfile-version=2
prefer-offline=true
fetch-retry-factor=2
ignore-scripts=false
update-notifier=false
legacy-peer-deps=false
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
registry=https://registry.npmjs.org