@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme inline {
    --font-sans: var(--font-poppins);
}
body {
    @apply font-sans bg-neutral-900 text-white;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
    background-color: #4a4a4a;
    border-radius: 10px;
    border: 2px solid #1a1a1a;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a;
}
